<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    />
    <link rel="stylesheet" href="/styles/styles.css" />
    <title>RetroGate</title>
    <script src="/scripts/script.js" defer></script>
    <script src="/scripts/sign.js" defer></script>
  </head>
  <body>
    <section id="container">
      <header>
        <img id="imglogo" src="/images/Logo.png" alt="" />
        <div id="logo">
          <h2 id="retro">Retro</h2>
          <h3 class="gate" id="gate-logo">Gate</h3>
        </div>
        <nav>
          <ul id="menu">
            <li id="sign-up-button">sign up</li>
            <li id="sign-in-button">sign in</li>
            <li>Upload</li>
            <li>Logout</li>
          </ul>
        </nav>
      </header>
      <section id="registeration">
        <ul>
          <img id="user-icon" src="/images/user-icon.png" alt="user icon" />
          <li id="user"><%= user.username %></li>
        </ul>
        <section id="interface">
          <section id="cards">
            <div class="song">
              <img class="cd-img" src="/images/disc.png" alt="cd image" />
            </div>
            <div class="songlist">
              <h2 class="gate">TRACKS LIST</h2>
              <hr />
              <ol class="songs">
                <li>1-Sonic Mayhem - Futureland</li>
                <li>1-Sonic Mayhem - Futureland</li>
                <li>1-Sonic Mayhem - Futureland</li>
                <li>1-Sonic Mayhem - Futureland</li>
                <li>1-Sonic Mayhem - Futureland</li>
              </ol>
            </div>
          </section>
          <section id="playing">
            <div id="progress"></div>
          </section>
          <audio
            src="Sonic Mayhem - Futureland (feat. Power Glove).mp3"
            id="audio"
          ></audio>
          <div class="navigation">
            <button id="prev" class="action-btn">
              <i class="fas fa-backward"></i>
            </button>
            <button id="play" class="action-btn-big">
              <i class="fas fa-play"></i>
            </button>
            <button id="next" class="action-btn">
              <i class="fas fa-forward"></i>
            </button>
          </div>
          <p id="nowplaying">Now Playing: Sonic Mayhem - Futureland</p>
        </section>
      </section>
    </section>

    <div class="sign-in-popup" id="sign-in">
      <div class="sign-in-header">
        <div class="sign-in-title">Sign In</div>
        <button id="close-button" class="close-button">&times;</button>
      </div>
      <div class="sign-in-body">
        <form role="form" class="sign-in-body" action="/auth" method="POST">
          <label for="emailin">Email</label>
          <input type="text" id="emailin" name="emailin" required />
          <label for="passwordin">Password</label>
          <input type="text" id="passwordin" name="passwordin" required />
          <button type="submit" class="buttons">Sign In</button>
        </form>
      </div>
    </div>

    <div class="sign-up-popup" id="sign-up">
      <div class="sign-up-header">
        <div class="sign-up-title">Sign Up</div>
        <button id="up-close-button" class="close-button">&times;</button>
      </div>
      <div class="sign-up-body">
        <form role="form" class="sign-up-body" action="/users" method="POST">
          <label for="username">Username</label>
          <input type="text" id="username" name="username" required />
          <label for="email">Email</label>
          <input type="text" id="email" name="email" required />
          <label for="password">Password</label>
          <input type="text" id="password" name="password" required />
          <button type="submit" class="buttons">Sign Up</button>
        </form>
      </div>
    </div>

    <div id="overlay"></div>
    <footer>
      <p>footer place holder</p>
    </footer>
    <section id="filler"></section>
  </body>
</html>
